/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;    
}

.main-container {
    margin: none;
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/******en-tête*****/

header {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}

.pageHeader_accomodations_and_activities {
    display: flex;
    align-self: center;
    gap: 40px;
    list-style-type: none;
}

.pageHeader_accomodations :hover {
    padding-top: 20px;
    border-top: solid;
    color: #0065FC;
}

.pageHeader_activities :hover {
    padding-top: 20px;
    border-top: solid;
    color: #0065FC;
}

/****titre principal****/

.mainpage_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0px;
}

.mainpage_title1 {
    font-weight: 1200;
}

.mainpage_title2 {
    font-size: large;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

/*****barre de recherche*******/

.search_bar {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    Width: 500px;
    Height: 50px;
    Border: 1px;
}

.locationicon {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    width: 12%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
}

.locationicon i {
    display: flex;
    align-self: center;
    font-size: larger;
    color: black;
}

#search_bar_text_box {
    text-align: center;
    font-size: large;
    font-weight: 550;
    width: 50%;
    border: 1px solid #F2F2F2;
    outline: 2px;
}

#submit_button {
    background-color: #0065FC;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 700;
    width: 25%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
}

#submit_button i {
    display: none;
}

/******barre des filtres*******/

.filterbar {
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 15px;
    font-weight: bold;
    font-size: large;
}

.filterbar_list {
    display: flex;
    justify-content: left;
    min-width: 175px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px;
    gap: 15px;
}

.filterbar_list :hover {
    background-color: #DEEBFF;
}

.filterbar_list li {
    display: flex;
    align-items: center;
    justify-content: baseline;
    border: 2px solid #D9D9D9;
    width: fit-content;
    padding: 20px;
    gap: 10px;
    border-radius: 30px;
}

/*****barre d'information*****/

.infobar {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.infobar i {
    display: flex;
    padding: 5px 10px 5px 10px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
}

.infobar_text {
    font-size: medium;
    font-weight: 500;
}

/*****cartes*****/

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    margin-bottom: 20px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 5px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

#hebergements-scroll-bar {
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Partie Activités à Marseille */

.activities_marseille {
    margin-top: 50px;
    width: 95%;
    padding: 0px 30px 30px 30px;
}
.activities_marseille_title {
    font-size: x-large;
    margin-bottom: 30px;
}

.activities_marseille_cards {
    display: flex;
    gap: 40px;
}

.activities_marseille_cards a {
    min-width: 286px;
    height: 440px;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);    
}

.activities_marseille_cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activities_marseille_cards .card-title {
    font-size: medium;
    padding-left: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}